body {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	overflow: none;
}

svg {
	width: 600px; 
	height: 376.6109783653848px;
}

#travel-content {
}

#rsr {
	margin: 0 auto;
	width: 832px;
	height: 522.23389px;
}

#react-test {
	margin: 0 auto;
	width: 500px;
}

#travel-right-column {
	float: right;
	width: 50%;
	height: 100%;
}

#travel-left-column {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

#gallery-component-wrapper {
	height: 385px; 
	width: 100%;
}

#gallery-header { 
	height: 25px; 
	text-align: center;
}

#gallery-wrapper {
	height: 360px; 
	width: 100%;
	overflow: auto;
}

#map-container {
	float: right;
    margin-top: 60px;
    margin-right: 25px;
    overflow: hidden;
	width: 550px;
	height: 385px;
}

#gallery-container {
	margin-top: 60px;
	margin-left: 50px;
	width: 500px;
	height: 385px;
}

.image-gallery-thumbnail img {
	height: 75px;
}

.travel-pane {
	height: 500px;
	width: 600px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.float-right {
	float: right;
	border-left: 2px solid black;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.float-left {
	float: left;
	border-right: 2px solid black;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.full-height {
	height: 100%
}

.full-width {
	width: 100%
}

.beige-bg {
	overflow-y: hidden;
}

.black-background {
	background-color: black;
}

.white-background {
	background-color: #FFFAFA;
}

.main-background {
	background-color: #929494;
}

.main-header {
	width: 100%;
	height: 75px;
	background-color: #FFFAFA;
	position: relative;
}

.non-mobile {
	min-width: 1250px;
	min-height: 550px;
}

.main-scrollable-pane {
	width: 100%;
	height: calc(100% - 75px);
	height: -webkit-calc(100% - 75px);
    height: -moz-calc(100% - 75px);
	position: relative;
	overflow: auto;
}

.main-font {
	font-family: 'Roboto Mono', monospace;
}

.content-block {
	position: relative;
	font-family: 'Roboto Mono', monospace;
}

.content-block-map {
	width: 100%;
	height: 650px;
	position: relative;
	font-family: 'Roboto Mono', monospace;
}

.block-header {
	width: 100%;
	height: 10%;
	text-align: center;
	padding-top: 25px;
}

.block-body {
	width: 100%;
	height: 90%;
}

.column-header {
	width: 100%;
	height: 5%;
	text-align: center;
	margin-top: 25px;
}

.column-content {
	width: 100%;
	height: 95%;
}

.regular-font {
	font-size: 12;
}

.mobile-font {
	font-size: 10;
}

.left-half {
	float: left;
	width: 500px;
	height: 100%;
  	margin-right: 5px%
}

.right-half {
	float: right;
	width: 500px;
	height: 100%;
  	margin-left: 5px%
}

.column-container {
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}



.content-table-row {
	margin-top: 50px;
}

.content-table-cell-mobile {
	padding: 2.5% 2.5%;
	position: relative;
	width: 90%;
	margin-left: 2%;
}

.content-table-cell {
	min-height: 65px;
	padding: 15px 16px;
	position: relative;
	min-width: 400px;
	margin: 25px;
}

.about-content-default {
	border: 2px solid #929494;
	border-radius: 10px;
	background: #929494;
}

.about-content-hover {
	border: 2px solid black;
	border-radius: 10px;
	background: #FFFAFA;
}

.bio-bordered-cell {
	height: 100%;
	padding: 15px 16px;
	overflow-y: auto;
	margin-top:50px;
}

.content-stable-height {
	width: 100%;
	height: 65px;
	max-height: 100px;
	position: relative;
}

.content-transition {
	transition: height .35s linear;
	height: 65px;
	width: 100%;
}

.collapse-image {
	width: 14px;
	height: 14px;
	margin-top: 3px;
	margin-left: 3px;
}

.content-expanded {
	height: 250px;
}

.expanded-content-container {
	height: 175px;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
}

.test-height {
	height: 300;
}

#toc {
	height: 55px;
	width: 55px;

	/*height: 75%;
	width: 5%;
	position: absolute;
  	top: 50%;
  	left: 25px;
  	transform: translateY(-50%);*/
}

.name-placeholder {
	position: absolute;
  	top: 50%;
  	right: 75px;
  	transform: translateY(-50%);
}

.logo-placeholder {
	width: 25%;
	float: left;
	min-height: 65px;
}

.expand-button-container {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -5px;
	right: -5px;
}

.expand-button-container-mobile {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -5px;
	right: -1px;
}

.expand-button-placeholder {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 3px;
}

.nav-menu-item {
	cursor: pointer;
}

.expand-button-placeholder-hover {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.expand-button-placeholder-hover > div {
	background: white;
}

/*.expand-button-placeholder:hover {
	background: #d3d3d3;
}*/

.expand-button-horizontal-part {
	position: absolute;
	width: 16px;
	height: 2px;
	top: 9px;
	left: 2px;
}


.expand-button-vertical-part {
	position: absolute;
	height: 16px;
	width: 2px;
	top: 2px;
	left: 9px;
}

.content-shifting-height-expanded {
	height: 150px;
	width: 100%;
}

.content-shifting-height-collapsed {
	display: none;
}

.logo {
	height: 100%; 
	position: relative; 
	right: 0%; 
	transform: translateX(0%);
}

.logo-description-placeholder {
	width: 70%; 
	float: left; 
	height: 100%;
	max-width: 265px;
	text-align: left;
}

.logo-description {
	position: relative; 
	top: 50%; 
	transform: translateY(-50%);
}

.hide {
	display: none;
}

.scroll-y {
	overflow-y: auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #FFFAFA;
    color: white;
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;
}

.toc-bar {
	width: 45px;
	height: 7.5px;
	margin-left: 5px;
	margin-top: 8px;
	background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;		
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}